*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient( to top,rgba(255,255,255,0.7), rgba(255,255,22,0.5));
    background-repeat: no-repeat;
    margin-top: 100px;
}
.header{
    width:1200px;
    border:1px solid #111;
    margin:0 auto;
    text-align: center;
}
.container{
    width: 1200px;
    border:1px solid #111;
    margin:0 auto;
}
.content{
    width: 800px;
    height: 600px;
    float:left;
    border:1px solid #111;

}
.menu-left{
    width:398px;
    height:600px;
    float: left;
    border:1px solid #111;

}
.footer{
    clear: both;
    width: 1200px;
    margin:0 auto;
    border:1px solid #111;
    text-align: center;
}
.menu{
    width: 1200px;
    margin:0 auto;
    border:1px solid #111;
}
/* thanh menu */
.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu .thanh-menu ul li{
    list-style: none;
    display:inline-block;
    margin-left: 30px;
}
ul li a{
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
}
ul li:hover a{
    text-decoration:underline;
}
.logo{
    padding-left: 30px;
}
.search{
    padding-right: 30px;
}